    h3 {
      color: white;
    }
  .btn-group .button {
  background-color: red;
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  border-radius: 10px;
}

.btn-group .button:not(:last-child) {
  border-bottom: none;
}

.btn-group .button:hover {
  background-color: darkred;
}
