  h3.embed {
  color: red;
  font-family: sans-serif;
  text-align: center;
  text-size: 30px;
}
  .btn-group {
  background-color: black;
  border: 1px solid black;
  color: red;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  border-radius: 5px;
  text-align: center;
}

.button {
background-color: red;
  border: 1px solid black;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 140px;
  display: block;
  border-radius: 10px;
  font-family: sans-serif;
  transition: 0.2s;
}
.btn-group .button:not(:last-child) {
  border-bottom: none;
}

.btn-group .button:hover {
  background-color: darkred;
}
button.button {
font-family: sans-serif;
}
