  h3.embed {
  color: red;
  font-family: sans-serif;
  text-align: center;
  text-size: 30px;
}
  .btn-group .button {
  background-color: red;
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  border-radius: 10px;
  font-family: sans-serif;
}

.btn-group .button:not(:last-child) {
  border-bottom: none;
}

.btn-group .button:hover {
  background-color: darkred;
}
button .button {
font-family: sans-serif;
}
